nav {
  width: 100%;
  padding: 12px 2%;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  top: 0;
}
.nav-left img {
  width: 25px;
  margin-right: 50px;
}
.nav-left .logo {
  width: 130px;
  margin-top: 5px;
}
.nav-middle .search-box {
  border: 1px solid #ccc;
  display: flex;
  margin-right: 15px;
  margin-left: 0;
  padding: 8px 12px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 500px;
  border: 0;
  outline: 0;
  background: transparent;
}
.nav-middle .search-box img {
  padding: 0 2px;
  width: 25px;
}
.nav-right img {
  width: 25px;
  margin-right: 25px;
}
