/* Chatbot.css */
.chat-container {
  max-width: 100%;
  margin: 0;
  text-align: center;
  padding: 0 20px;
  height: calc(100vh - 100px);
  /* border-radius: 20px; */
  /* box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); */
}
.chat-container h2 {
  font-size: 20px;
  margin: 10px 0;
}
.chat-box {
  background: white;
  border-radius: 20px;
  height: 400px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.message {
  margin: 10px 10px;
}

.message {
  text-align: right;
  color: var(--dark-gray);
}

.message.bot {
  max-width: 60%;
  text-align: left;
  color: var(--gray);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  padding: 10px;
  font-size: 16px;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 50px;
  border: 1px solid #5a5a5a;
}

.response {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}
.chat-box::-webkit-scrollbar {
  width: 6px;
}
.chat-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
