.login-outer {
  display: flex;
  height: 100vh;
  text-align: center;
}
.login-outer h2 {
  font-size: 36px;
}
.login-outer h3 {
  font-size: 18px;
}
.login-bg {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  background: rgb(9, 53, 148);
  background: linear-gradient(
    115deg,
    rgba(9, 53, 148, 1) 50%,
    rgba(50, 144, 237, 1) 100%
  );
  padding: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}
.login-bg h2 {
  color: #fff;
  margin-bottom: 10px;
}
.login-bg h3 {
  color: #fff;
  text-align: justify;
  margin-top: 18px;
}
.login-container {
  flex-basis: 60%;
  background: rgb(255, 255, 255);
  padding: 100px;
  padding-top: 150px;
}
.login-container h2 {
  padding-bottom: 60px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.login-form label {
  font-size: 18px;
  width: 100%;
  text-align: left;
}
.login-input {
  width: 100%;
  height: 60px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
  padding: 10px;
  border-bottom: 1px solid var(--dark-gray);
  outline: 0;
}

.login-btn {
  margin: 20px auto 0; /* Center the button horizontally */
  padding: 12px 24px;
  display: block;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* To make it cover the entire screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(211, 211, 211, 0.7); /* Light gray color with opacity */
  z-index: 1000; /* Make sure it appears above other elements */
}
