.login-container {
  max-width: 500px;
  height: 350px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--white);
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
  padding: 10px;
  border: 1px solid var(--dark-gray);
  outline: 0;
  border-radius: 5px;
}

.login-btn {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
