.login-card {
  padding: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.login-card img {
  width: 100px;
}
.login-card h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 10px;
  text-align: left;
}
.login-card p {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  padding: 10px 0;
}
.login-card button {
  display: block;
  margin: 10px auto;
}
.right {
  color: #fff;
}
.right h2 {
  color: #fff;
}
