.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--blue);
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeIn 0.5s ease, fadeOut 0.5s ease 4s;
}
.notification h3 {
  color: var(--white);
  font-weight: 600;
}

/* Fade-in and fade-out animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.notification.success {
  background-color: var(--dark-blue);
}

.notification.error {
  background-color: #f44336;
}
