.logo-main {
  display: block;
  margin: 50px auto;
  max-width: 500px;
  height: auto;
}
.cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}
.cont > * {
  margin: 20px;
}
