@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue: #3290ed; /* Light blue */
  --dark-blue: #093594; /* Darker blue */
  --white: #fff; /* White */
  --light-gray: #f1f1f1;
  --gray: #5a5a5a; /* Gray */
  --dark-gray: #3a3a3a;
  --black: #000;
}
body {
  background: var(--light-gray);
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial sans-serif;
  letter-spacing: 1px;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img,
button {
  cursor: pointer;
}
.flex-div {
  display: flex;
  align-items: center;
}
.btn {
  padding: 10px 40px;
  color: var(--white);
  border: 1px solid var(--blue);
  outline: 0;
  border-radius: 70px;
  background: var(--blue);
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.btn:hover {
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}
.btn-border {
  border: 1px solid var(--blue);
  color: var(--blue);
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: transparent;
  padding: 10px 40px;
  border-radius: 50px;
  transition: 0.3s;
}
.btn-border:hover {
  border: 1px solid var(--dark-blue);
  background: var(--dark-blue);
  color: var(--white);
}
h2 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  color: var(--gray);
}
h3 {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray);
}
