.middle-div {
  margin-top: 20px;
  justify-content: flex-end;
  gap: 15px;
  margin-right: 20px;
}

/* .icon-op {
  cursor: pointer;
  width: 25px;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.icon-op:hover {
  transform: scale(1.1);
  opacity: 0.8;
} */
